@import 'tailwindcss';

@theme {
    --font-sans: 'Georgia', 'serif';
    --font-sans-serif: var(--font-montserrat), 'sans-serif';
    --color-primary: #6ABFBA;
    --color-primary-content: #5b6679;
    --color-complementary: #97D2CF;

}

@layer base {

    body {
        @apply text-primary-content;
    }

    h1 {
        @apply font-sans-serif sm:text-3xl text-primary uppercase tracking-widest;
    }

    h2 {
        @apply font-sans-serif text-primary uppercase text-2xl sm:text-3xl;
    }

    h3 {
        @apply font-sans-serif text-primary uppercase sm:text-lg;
    }

    a:not(.btn) {
        @apply underline transition hover:opacity-80;
    }

    p, td {
        @apply text-primary-content;
    }

    q {
        @apply italic text-primary;
    }

}

@layer components {

    .btn {
        @apply inline-flex items-center justify-center gap-2 bg-primary text-primary-content cursor-pointer text-center font-semibold no-underline transition-colors;
        padding: var(--btn-py, 0.875rem) var(--btn-px, 1.25rem);
        font-size: var(--btn-font-size, 0.875rem);
        border-radius: var(--btn-border-radius, 0.25rem);

        &:hover {
            @apply bg-primary/85;
        }

        &:disabled {
            @apply text-gray-400 bg-gray-700;
        }
    }

    .btn-lg {
        --btn-font-size: 1.125rem;
        --btn-px: 1.5rem;
        --btn-py: 1.125rem;
    }
}
