---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Belmont Orthodontics" bannerTitle="Welcome to Belmont Orthodontics" bannerImg="/images/belmont-orthodontics-treatments.jpg">
    <p>Welcome text</p>
</Layout>
