---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Practices" bannerTitle="Practices" bannerImg="/images/belmont-orthodontics-practice.jpg">
    <div class="flex items-stretch flex-col md:flex-row">
        <div class="flex-1 bg-white shadow-lg m-4 lg:m-10">
            <iframe
                class="inset-0"
                width="100%"
                height="250"
                title="Belfast practice location"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2311.2169799700405!2d-5.873536083725154!3d54.60017008026094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48610982646afe79%3A0x6a8a6249630843d0!2sBelmont%20Orthodontics!5e0!3m2!1sen!2suk!4v1599993184317!5m2!1sen!2suk"
                frameborder="0"
                style="border:0;"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0"></iframe>

            <div class="p-4 lg:py-6 lg:px-10">
                <h1>Belfast</h1>

                <div class="flex items-top my-4 text-gray-700">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                    </svg>

                    <p class="px-2 mb-0">98 Belmont Road, Belfast, BT4 2AP</p>
                </div>

                <div class="flex items-top my-4 text-gray-700">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
                        ></path>
                    </svg>

                    <a href="tel:028 9065 6666" class="px-2 text-teal-600">028 9065 6666</a>
                </div>

                <div class="flex items-top my-4 text-gray-700">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                    </svg>

                    <a href="mailto:smile@belmontorthodontics.co.uk" class="px-2 text-teal-600">smile@belmontorthodontics.co.uk</a>
                </div>

                <div class="flex items-top my-4 text-gray-700">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>

                    <p class="px-2">
                        Monday to Thursday 8am – 4pm<br />
                        Friday 8am – 1pm<br />
                        Closed for lunch 1 – 1.45pm
                    </p>
                </div>
            </div>
        </div>

        <div class="flex-1 bg-white shadow-lg m-4 lg:m-10">
            <iframe
                class="inset-0"
                width="100%"
                height="250"
                title="Downpatrick practice location"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2326.8112544070873!2d-5.714453583733035!3d54.324968080195724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4861153ef3f85807%3A0x90903bbd0c53ee56!2sBelmont%20Orthodontics%20Downpatrick!5e0!3m2!1sen!2suk!4v1599993309200!5m2!1sen!2suk"
                frameborder="0"
                style="border:0;"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0"></iframe>

            <div class="p-4 lg:py-6 lg:px-10">
                <h1>Downpatrick</h1>

                <div class="flex items-top my-4 text-gray-700">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                    </svg>

                    <p class="px-2 mb-0">17 Stream St, Downpatrick, BT30 6DD</p>
                </div>

                <div class="flex items-top my-4 text-gray-700">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
                        ></path>
                    </svg>

                    <a href="tel:028 4461 2217" class="px-2 text-teal-600">028 4461 2217</a>
                </div>

                <div class="flex items-top my-4 text-gray-700">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                    </svg>

                    <a href="mailto:smile@belmontorthodontics.co.uk" class="px-2 text-teal-600">smile@belmontorthodontics.co.uk</a>
                </div>

                <div class="flex items-top my-4 text-gray-700">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>

                    <p class="px-2">
                        Monday to Thursday 8am – 4pm<br />
                        Friday 8am – 1pm<br />
                        Closed for lunch 1 – 1.45pm
                    </p>
                </div>
            </div>
        </div>

        <div class="flex-1 bg-white shadow-lg m-4 lg:m-10">
            <iframe
                class="inset-0"
                width="100%"
                height="250"
                title="Newtownards practice location"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2311.5668750198242!2d-5.698396483984747!3d54.594005588225215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486174f0e49cfd4d%3A0x4cacd8e23471598d!2s10%20Frances%20St%2C%20Newtownards%20BT23%204JA!5e0!3m2!1sen!2suk!4v1642446396000!5m2!1sen!2suk"
                frameborder="0"
                style="border:0;"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0"></iframe>

            <div class="p-4 lg:py-6 lg:px-10">
                <h1>Newtownards</h1>

                <div class="flex items-top my-4 text-gray-700">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                    </svg>

                    <p class="px-2 mb-0">10 Frances Street BT23 4JA</p>
                </div>

                <div class="flex items-top my-4 text-gray-700">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
                        ></path>
                    </svg>

                    <a href="tel:028 9131 1784" class="px-2 text-teal-600">028 9131 1784</a>
                </div>

                <div class="flex items-top my-4 text-gray-700">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                    </svg>

                    <a href="mailto:smile@belmontorthodontics.co.uk" class="px-2 text-teal-600">smile@belmontorthodontics.co.uk</a>
                </div>

                <div class="flex items-top my-4 text-gray-700">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>

                    <p class="px-2">
                        Monday to Thursday 8am – 4pm<br />
                        Friday 8am – 1pm<br />
                        Closed for lunch 1 – 1.45pm
                    </p>
                </div>
            </div>
        </div>
    </div>
</Layout>
