---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Treatments" bannerTitle="Treatments" bannerImg="/images/belmont-orthodontics-treatments.jpg">
    <div class="flex items-stretch flex-col md:flex-row">
        <div class="flex-1 flex-grow px-4 py-2 m-4 lg:m-10">
            <h3 class="mb-4">Fixed Appliances</h3>
            <p>
                Fixed appliances, known more commonly as ‘train tracks’, consist of a series of brackets, (typically stainless steel), which are cemented on to
                the teeth. For this reason they are worn for the duration of the treatment, and must only be removed by your orthodontist. Treatment typically
                lasts anywhere from 9-24 months, depending on the severity of the case. Fixed appliances can be worn by all age groups.
            </p>
        </div>
        <div class="flex-1 flex-grow px-4 py-2 m-4 lg:m-10">
            <h3 class="mb-4">Aesthetic Appliances</h3>
            <p>
                Aesthetic braces are an increasingly popular choice with adults and teenagers, as they are less visible than traditional fixed braces. Brackets
                on aesthetic appliances are generally clear or tooth coloured. White or tooth-coloured wires can also be used for an even more discrete, natural
                look. Aesthetic appliances are only available as a private treatment option.
            </p>
        </div>
        <div class="flex-1 flex-grow px-4 py-2 m-4 lg:m-10">
            <h3 class="mb-4">Invisible Appliances</h3>
            <p>
                Belmont Orthodontics use the latest in invisible braces from Invisalign® which consists of a series of clear, removable and discrete custom-made
                aligners, which fit over the teeth. Invisalign® braces are a very popular choice with adult patients with treatment lasting on average between
                six to twenty four months.
            </p>
        </div>
    </div>

    <div class="flex items-stretch flex-col md:flex-row">
        <div class="flex-1 flex-grow px-4 py-2 m-4 lg:m-10">
            <h3 class="mb-4">Lingual Appliances</h3>
            <p>
                Lingual appliances are braces which are fitted to the inside surfaces of the front teeth, out of sight. They are a useful aesthetic appliance
                when traditional appliances or Invisalign are not appropriate. However, despite their usefulness, they are a very niche treatment with a high
                cost and while we offer this option, it is not one we would recommend in the majority of cases.
            </p>
        </div>
        <div class="flex-1 flex-grow px-4 py-2 m-4 lg:m-10">
            <h3 class="mb-4">Removable Appliances</h3>
            <p>
                Removable braces are commonly used when minor corrections are required. They consist of a plastic plate with wires which allow the teeth to move
                gradually by applying gentle pressure. Unlike fixed braces, removable braces can be taken out of the mouth for eating, cleaning and for sport as
                necessary.
            </p>
        </div>
        <div class="flex-1 flex-grow px-4 py-2 m-4 lg:m-10">
            <h3 class="mb-4">Functional Appliances</h3>
            <p>
                Functional appliances are most effective during the active stages of childhood growth. They work by positioning the lower jaw in a forward
                posture which stretches the muscles of the face and helps to correct protruding teeth. In some cases, these braces encourage favourable growth
                and help to improve the facial profile. Typical treatments can last from 6-12 months.
            </p>
        </div>
    </div>
</Layout>
