---
import Logo from '../components/Logo.astro';

const currentPath = Astro.url.pathname;

const navItems = [
    { linkText: 'Home', href: '/' },
    { linkText: 'Practices', href: '/practices' },
    { linkText: 'Treatments', href: '/treatments' },
    { linkText: 'Pricing', href: '/pricing' },
    { linkText: 'Referral', href: '/referral' },
    { linkText: 'Contact', href: '/contact' }
];
---

<nav class="flex flex-wrap items-center gap-4 px-6 py-6">
    <Logo />
    <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden">
        {
            !!navItems?.length && (
                <ul class="pt-6 lg:pt-0 list-reset lg:flex justify-end flex-1 items-center">
                    {navItems.map((item) => (
                        <li>
                            <a
                                href={item.href}
                                class={
                                    currentPath === item.href
                                        ? 'text-primary font-sans-serif no-underline mx-2 hover:text-primary'
                                        : 'font-sans-serif no-underline mx-2 hover:text-primary'
                                }
                            >
                                {item.linkText}
                            </a>
                        </li>
                    ))}
                </ul>
            )
        }
    </div>
</nav>
