---
import '../../src/styles/globals.css';
import { Font } from 'astro:assets';
import Header from '../components/Header.astro';
import Banner from '../components/Banner.astro';
import Footer from '../components/Footer.astro';

interface Props {
    title: string;
    bannerTitle: string;
    bannerImg: string;
}

const { title, bannerTitle, bannerImg } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <Font cssVariable="--font-montserrat" />
    </head>
    <body class="font-body text-gray-600 bg-white font-sans leading-normal tracking-normal">
        <Header />
        <Banner title={bannerTitle} bgimage={bannerImg} />
        <main class="mx-auto max-w-7xl px-4 pt-16 sm:px-6 lg:px-8">
            <slot />
        </main>
        <Footer />
    </body>
</html>
